<!DOCTYPE html>
<html>
<head>
    <title>Presentación de los participantes</title>
    <style>
        body {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            font-family: Arial, sans-serif;
            background-color: #25ad6e;
        }
        .participant {
            margin: 20px;
            text-align: center;
        }
        .participant img {
            width: 100px;
            height: 100px;
            border-radius: 50%;
        }
    </style>
</head>
<body>
    <div class="participant">
        <img src="spider-man-2.png" alt="participante1">
        <p>Descripción del participante 1</p>
    </div>
    <div class="participant">
        <img src="participante2.jpg" alt="Participante 2">
        <p>Descripción del participante 2</p>
    </div>
    <div class="participant">
        <img src="participante3.jpg" alt="Participante 3">
        <p>Descripción del participante 3</p>
    </div>
    <div class="participant">
        <img src="participante4.jpg" alt="Participante 4">
        <p>Descripción del participante 4</p>
    </div>
    <div class="participant">
        <img src="participante5.jpg" alt="Participante 5">
        <p>Descripción del participante 5</p>
    </div>
</body>
</html>